.formRegistration {
  border: 1px solid $colors-neutrals-neutral-300;
  border-radius: 32px;
  padding: 48px;
  width: 381px;
  height: 501px;
  box-shadow: 0 1px 8px 0 rgba(25, 33, 61, 0.06);
  background: $colors-neutrals-white;
  position: relative;
  top: 140px;

  &_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.15;
    color: $colors-neutrals-neutral-800;
    margin-bottom: 16px;
    text-align: center;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &_item {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  &_box {
    padding: 12px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
  }

  input {
    border: 1px solid $colors-neutrals-neutral-400;
    border-radius: 14px;
    padding: 8px 16px;
    width: 134px;
    height: 48px;
    min-height: 48px;
    margin-top: 12px;
  }

  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: #170f49;
  }

  .redStar {
    color: $secondary-red;
  }

  .longinput {
    border: 1px solid $colors-neutrals-neutral-400;
    border-radius: 14px;
    padding: 8px 16px;
    width: 285px;
    height: 48px;
    min-height: 48px;
    box-shadow: 0 1px 1px 0 rgba(25, 33, 61, 0.04);
    background: #fff;
  }

  &_buttonWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 48px;
    margin-right: 0;
    margin-left: 0;
  }
}

.account_active_img {
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
  color: $colors-primary-hue-purple-700;
}
