.sidebar {
  border: 1px solid $colors-neutrals-neutral-300;
  border-radius: 24px;
  width: 348px;
  height: 746px;
  box-shadow: 0 1px 8px 0 rgba(25, 33, 61, 0.06);
  background: $colors-primary-hue-purple-100;
}
.title {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  color: $colors-neutrals-neutral-800;
}
.logo {
  display: flex;
  gap: 5px;
  padding: 40px;
  justify-self: center;
  align-items: center;
}
.steps {
  padding: 32px;
  &_item {
    display: flex;
    gap: 16px;
  }
  &_number {
    border: 0.5px solid $colors-primary-hue-purple-300;
    border-radius: 8px;
    padding: 11px 13px;
    width: 34px;
    height: 34px;
    box-shadow:
      inset 0 4px 6px 0 rgba(255, 255, 255, 0.4),
      inset 0 -2px 2px 0 rgba(27, 35, 85, 0.07),
      0 3px 6px 0 rgba(7, 0, 110, 0.03);
    background: linear-gradient(180deg, #fff 0%, #fbfbfe 100%);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.15;
    color: $colors-neutrals-neutral-500;
    text-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    &_active {
      box-shadow:
        inset 0 3px 4px 0 rgba(223, 238, 255, 0.1),
        inset 0 1px 1px 0 rgba(255, 255, 255, 0.1),
        inset 0 -2px 2px 0 rgba(0, 66, 137, 0.15),
        0 2px 5px 0 rgba(74, 58, 255, 0.25);
      background: linear-gradient(181deg, #8c82ff 0%, #4a3aff 100%);
      color: $colors-neutrals-white;
    }
  }
  &_text {
    padding: 2px 0px 0px;
  }
  &_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.15;
    color: $colors-neutrals-neutral-800;
    padding-bottom: 5px;
  }
  &_description {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: $colors-neutrals-neutral-600;
  }
}

.line {
  // margin-left: 16px;
  width: 34px;
  height: 40px;
  position: relative;
  margin: 0px 16px 10px;
  width: 34px;
  height: 40px;

  &::after {
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    border-radius: 40px;
    transition: all 0.3s ease;
  }

  // Серая (0%)
  &.line_0::after {
    background-color: #d2ceff;
  }

  // Наполовину фиолетовая (50%)
  &.line_50::after {
    background: linear-gradient(180deg, #4a3aff 0%, #d2ceff 100%);
  }

  // Полностью фиолетовая (100%)
  &.line_100::after {
    background: linear-gradient(180deg, #8c82ff 0%, #4a3aff 100%);
  }
}
