

// Primary colors - Purple
$colors-primary-hue-purple-700: #4a3aff;
$colors-primary-hue-purple-600: #897fff;
$colors-primary-hue-purple-500: #8c82ff;
$colors-primary-hue-purple-400: #9e97ff;
$colors-primary-hue-purple-300: #d2ceff;
$colors-primary-hue-purple-200: #eae8ff;
$colors-primary-hue-purple-100: #f1f0fb;

// Neutrals
$colors-neutrals-neutral-800: #170f49;
$colors-neutrals-neutral-700: #514f6e;
$colors-neutrals-neutral-600: #6f6c8f;
$colors-neutrals-neutral-500: #a0a3bd;
$colors-neutrals-neutral-400: #d9dbe9;
$colors-neutrals-neutral-300: #f1f2f9;
$colors-neutrals-neutral-200: #fbfbfe;
$colors-neutrals-white: #fff;

// Secondary colors
$secondary-green: #1bb42d;
$secondary-red: #ff0004;
